<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ДВФУПример.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0488FA39270E045F00A5EE20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0488FA4F270E046100A5EE20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0488FA59270E046100A5EE20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
